@charset "utf-8";
/* レイアウトのためのCSS */
body {
    background-color: #fdfdfd;
    background-size:48px 48px;
    font-family: 'Noto Serif JP', serif;
    letter-spacing:0.1em;
	color: #333;
	font-size:1rem;
	line-height:1.85;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; 
	word-wrap: break-word;
	margin: 0;
}

*{box-sizing: border-box;}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #333;
	text-decoration: none;
    outline: none;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

a:hover img{
    opacity: 0.7;
}

/* area */

#container{
    position: relative;
    /*要素は通常フローで配置。top,right,bottom,left の値でオリジナルに配置*/
    overflow-x: hidden;
    /*要素の内容が左右の境界からあふれた場合、表示しない*/
}

#header{
    position:fixed;
    /*最終的な位置をtop,right,bottom,left の値に委ねる*/
    display: flex;
    justify-content: center;
    top:0;
    left:0;
    width:230px;
    /*横幅指定*/
    height: 100vh;
    /*表示に対する高さ指定。100vhがMAX表示*/
    background:#26304c;
    /*headerエリアの背景色指定*/
    padding: 0;
    /*要素の内側の間隔。上150px|右0px|下0px|左0px*/
}

#header-area{
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    length: 230px;
    padding: 43px 20px;
    margin: 0;
    text-align: center;
    border-bottom: solid 1px #fff4d1;
}

#sidebar-area{
    position: absolute;
    width: 230px;
    top: 230px;
    list-style: none;
    padding: 0;
    text-align: center;
}

#content-area{
    width:100%;
    padding: 0 0 0 230px;
    /*要素の内側の間隔。上0px|右0px|下0px|左230px*/
    top:0;
}

/* g-navi */

#woodarea{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('/img/background.jpg');
    top: 0;
    height: 85px;
}

/*JSを使いfixedクラスが付与された際の設定*/
#woodarea.fixed{
  position: fixed;/*fixedを設定して固定*/
    z-index: 999;/*最前面へ*/
    top:0;/*位置指定*/
    left:0;/*位置指定*/
}

/* heading */
.heading-block{
    display: flex;
    justify-content: center;
}

#menu h2,
#access h2{
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
    text-orientation: upright;
    letter-spacing:0.2em;
    font-size:2rem;
    margin:100px 0;
    /*余白部分を、上下100px、左右0pxにする*/
}

/*落ちてくるもの*/

#wrapper-area{
    position: relative;
    background-color: #f2f2f2;
}

#wrapper-area .scrolldown1{
    top: inherit;
    bottom:0;
    z-index: 1;
}

#wrapper-area h1{
    padding: 150px 230px 25px 230px;
    /*要素の内側の間隔。上150px|右0px|下0px|左0px*/
    margin: 0;
    text-align: center;
}

#wrapper-area .wrapper-content{
    width: 100%;
    padding: 0 230px 150px 230px;
    /*要素の内側の間隔。上150px|右0px|下0px|左0px*/
    margin: 0;
}

/*ヘッダー*/

#header{
    justify-content: center;
}

.header-area{
    width:73px;
    height: 300px;
}

#header h1{
    font-size: 12px;
    color: #fff4d1;
    /*エリアの色指定*/
    padding: 20px 0;
}

#header h1 span{
    display: block;
    font-size: 2.2rem;
}
#sidebar-area ul li {
    font-size: 20px;
    font-weight: bold;
    border-bottom: dotted 1px #fff4d1;
    border-top: none;
    border-left:none;
}
#sidebar-area ul li:hover {
    background-color: #505978;
    color: #fff4d1;
}
#sidebar-area ul li a {
    display: block;
    color: #fff4d1;
    background-color: #26304c;
    text-decoration: none;
    padding: 5px 0;
}
#sidebar-area ul li a:hover {
    color: #fff4d1;
    background-color: #505978;
}

#woodarea .sns-link{
    position: absolute;
    right: 75px;
    top:15px;
}

/* sns */
.sns-link li{
    display:inline-block;
    margin: 10px;
}

.sns-link li img{
     width:20px;
}



/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes gnavipathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
		/*不可視にする*/
	}
	30%{
		height:20px;
		opacity: 1;
	}
	100%{
		height:0;
		top:30px;
		opacity: 0;
		/*不可視にする*/
	}
}

/* lead */

#lead{
    position: relative;
    display: flex;
    justify-content: center;
    height: 120vh;
    padding: 50vh 0 0 0;
}

#lead .lead-area{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#lead .svganimeblock{
    width:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

#lead .lead-heading{
    width:30%;
}

#lead h2{
    font-size:2rem;
    letter-spacing: 0.1em;
    line-height: 2.2;
    padding: 0 0 0 30px;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
}

#lead .lead-desc{
    width:70%;
    display: flex;
    flex-direction: row-reverse;
    height: 16em;
}

#lead .lead-desc p{
    width:12em;
    letter-spacing: 0.1em;
    line-height: 3;
    margin: 0 0 0 30px;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
}

#lead .btnarrow5{
   padding: 20px 15px 40px 15px; 
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
}

#lead .btnarrow5::before{
    top:90%;
    right:50%;
    width:1px;
    height: 40px;
}

#lead .btnarrow5::after{
    top: 105%;
    right:60%;
}

_:-ms-lang(x), #lead .btnarrow5::after{
    right:70%;
}

/* period */

#period{
    position:relative;
    margin: 0 0 100px 0;
}

#period .period-bg{
    position: relative;
    background:url(../img/content01_spring.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

#period section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

#period section:nth-of-type(2n){
    flex-direction:row-reverse;
}

#period .heading-block{
    display: flex;
    justify-content: center;
}

#period h2{
    margin: 100px 0;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

#period .period-img{
    width:50%;
    height:40vh;
}

#period .period-img-detail{
    height:40vh;
}

#period .period-box{
    animation-delay:.5s;
}

#period .period-content{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
    text-orientation: upright;
}

#period section:nth-of-type(1) .period-img-detail{
    background:url(../img/period01_kohun.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(2) .period-img-detail{
    background:url(../img/period02_asuka.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(3) .period-img-detail{
    background:url(../img/period03_nara.jpg) no-repeat center;
    background-size:cover;
}
#period section:nth-of-type(4) .period-img-detail{
    background:url(../img/period04_heian.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(5) .period-img-detail{
    background:url(../img/period05_kamakura.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(6) .period-img-detail{
    background:url(../img/period06_nanbokucho.jpg) no-repeat center;
    background-size:cover;
}
#period section:nth-of-type(7) .period-img-detail{
    background:url(../img/period07_muromachi.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(8) .period-img-detail{
    background:url(../img/period08_aduchimomoyama.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(9) .period-img-detail{
    background:url(../img/period09_edo.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(10) .period-img-detail{
    background:url(../img/period10_meiji.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(11) .period-img-detail{
    background:url(../img/period11_taisyo.jpg) no-repeat center;
    background-size:cover;
}
#period section:nth-of-type(12) .period-img-detail{
    background:url(../img/period12_syowa.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(13) .period-img-detail{
    background:url(../img/period13_heisei.jpg) no-repeat center;
    background-size:cover;
}

#period section:nth-of-type(14) .period-img-detail{
    background:url(../img/period14_reiwa.jpg) no-repeat center;
    background-size:cover;
}

#period .period-content h3{
    font-size:1.2rem;
    margin:0 0 0 1em;
}

#period .period-content p{
    height:13em;
    line-height:2.5;
}

/* genre */

#genre{
    position:relative;
    margin: 0 0 100px 0;
}

#genre .genre-bg{
    position: relative;
    background:url(../img/content02_summer.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

#genre section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

#genre section:nth-of-type(2n){
    flex-direction:row-reverse;
}

#genre .heading-block{
    display: flex;
    justify-content: center;
}

#genre h2{
    margin: 100px 0;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

#genre .genre-img{
    width:50%;
    height:40vh;
}

#genre .genre-img-detail{
    height:40vh;
}

#genre .genre-box{
    animation-delay:.5s;
}

#genre .genre-content{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
    text-orientation: upright;
}

#genre section:nth-of-type(1) .genre-img-detail{
    background:url(../img/genre01_economy.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(2) .genre-img-detail{
    background:url(../img/genre02_disaster.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(3) .genre-img-detail{
    background:url(../img/genre03_accident.jpg) no-repeat center;
    background-size:cover;
}
#genre section:nth-of-type(4) .genre-img-detail{
    background:url(../img/genre04_politics.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(5) .genre-img-detail{
    background:url(../img/genre05_war.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(6) .genre-img-detail{
    background:url(../img/genre06_culture.jpg) no-repeat center;
    background-size:cover;
}

#genre .genre-content h3{
    font-size:1.2rem;
    margin:0 0 0 1em;
}

#genre .genre-content p{
    height:13em;
    line-height:2.5;
}

/* gallery */

#gallery{
    position:relative;
    margin: 0 0 100px 0;
}

#gallery .gallery-bg{
    position: relative;
    background:url(../img/content03_fall.JPG) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

#gallery section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

#gallery section:nth-of-type(2n){
    flex-direction:row-reverse;
}

#gallery .heading-block{
    display: flex;
    justify-content: center;
}

#gallery h2{
    margin: 100px 0;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

#gallery .gallery-img{
    width:50%;
    height:40vh;
}

#gallery .gallery-img-detail{
    height:40vh;
}

#gallery .gallery-box{
    animation-delay:.5s;
}

#gallery .gallery-content{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
    text-orientation: upright;
}

#gallery section:nth-of-type(1) .genre-img-detail{
    background:url(../img/genre01_economy.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(2) .genre-img-detail{
    background:url(../img/genre02_disaster.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(3) .genre-img-detail{
    background:url(../img/genre03_accident.jpg) no-repeat center;
    background-size:cover;
}
#genre section:nth-of-type(4) .genre-img-detail{
    background:url(../img/genre04_politics.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(5) .genre-img-detail{
    background:url(../img/genre05_war.jpg) no-repeat center;
    background-size:cover;
}

#genre section:nth-of-type(6) .genre-img-detail{
    background:url(../img/genre06_culture.jpg) no-repeat center;
    background-size:cover;
}

#gallery .gallery-content h3{
    font-size:1.2rem;
    margin:0 0 0 1em;
}

#gallery .gallery-content p{
    height:13em;
    line-height:2.5;
}

/* citation */

#citation{
    position:relative;
    margin: 0 0 100px 0;
}

#citation .citation-bg{
    position: relative;
    background:url(../img/content04_winter.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

#citation section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

#citation section:nth-of-type(2n){
    flex-direction:row-reverse;
}

#citation .heading-block{
    display: flex;
    justify-content: center;
}

#citation h2{
    margin: 100px 0;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

#citation .citation-img{
    width:50%;
    height:40vh;
}

#citation .citation-img-detail{
    height:40vh;
}

#citation .citation-box{
    animation-delay:.5s;
}

#citation .citation-content{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
    text-orientation: upright;
}

#citation .citation-content h3{
    font-size:1.2rem;
    margin:0 0 0 1em;
}

#citation .citation-content p{
    height:13em;
    line-height:2.5;
}

/* inquiry */

#picture_create section{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

#picture_create{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    margin: 0 auto 100px auto;
    padding:100px 30px;
    text-align: center;
}

#picture_create .scrolldown1{
     top:-10vh;   
}

#picture_create h2{
     font-size: 1.2rem;   
}

#picture_create .tel{
    font-size: 2vw;
    margin: 0 0 20px 0;
}

#picture_create p br{
     display: none;   
}

#picture_create .tel{
    font-size: 1.5rem;
}

/* footer */

#footer{
    padding:40px;
    color: #fff4d1;
    background:#26304c;
}

#footer .footer-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

#footer .footer-logo{
    letter-spacing: 1em;
    margin: 0 0 20px 0;
    color: #fff4d1;
}

#footer .footer-logo span{
    font-size: 1.6rem;
    display: block;
}

#footer .footer-link{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .footer-link ul{
    font-size: 0.9rem;
    margin: 0 2vw 0 0;
}

#footer .footer-link ul li{
    display: inline-block;
     margin: 0 10px;   
}

#footer .footer-link a{
     color:#fff4d1;   
}

#footer small{
     color:#fff4d1;  
}

#footer #page-top span{
    position: relative;
    top:-10px;
}

#footer #page-top span::before{
     content:'';
    position: absolute;
    left:50%;
    top:-3px;
    background:#6C6C6C;
    width:1px;
    height: 30px;
}

#footer #page-top span::after{
    content:'';
    position: absolute;
    left:6px;
    top:-7px;
    background:#6C6C6C;
    width:1px;
    height: 20px; 
    transform: rotate(-45deg);
}

#japanese_chronology{
    width:100%;
    padding: 0 230px;
    /*要素の内側の間隔。上0px|右230px|下0px|左230px*/
}
#japanese_chronology dl{
    overflow: hidden;
}
#japanese_chronology_period dl{
    overflow: hidden;
}
#japanese_chronology_genre dl{
    overflow: hidden;
}
#japanese_chronology_period .chronology_item{
    display: flex;
    justify-content: center;
}
#japanese_chronology_genre .chronology_item{
    display: flex;
    justify-content: center;
}
.chronology_title{
    display: flex;
    justify-content: center;
}
.gallery_title{
    display: flex;
    justify-content: center;
}
#citation-page{
    width:100%;
    padding: 0 230px;
    /*要素の内側の間隔。上0px|右230px|下0px|左230px*/
}
#privacy_policy-page{
    width:100%;
    padding: 0 230px;
    /*要素の内側の間隔。上0px|右230px|下0px|左230px*/
}
#sitemap-page{
    width:100%;
    padding: 0 230px;
    /*要素の内側の間隔。上0px|右230px|下0px|左230px*/
}
#tos-page{
    width:100%;
    padding: 0 230px;
    /*要素の内側の間隔。上0px|右230px|下0px|左230px*/
}
/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
columns: 4;/*段組みの数*/
padding:0 15px;/*ギャラリー左右に余白をつける*/
}

.gallery li {
    margin-bottom: 20px;/*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img{
  width:100%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
  .gallery{
  columns:3;
  } 
}

@media only screen and (max-width: 768px) {
  .gallery{
  columns: 2;
  } 
}


/*========= レイアウトのためのCSS ===============*/

#gallery-page ul{
  margin:0;
  padding: 0;
  list-style: none;
}

/*画像を出現させるアニメーションCSS*/

.flipLeft{
animation-name: flipLeft;
animation-duration:0.5s;
animation-fill-mode:forwards;
perspective-origin: left center;
opacity: 0;
}

@keyframes flipLeft{
  from {
   transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
  opacity: 0;
  }

  to {
  transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
  opacity: 1;
  }
}
/*タイムライン全体の設定*/
.timeline{
  max-width: 800px;
  width:100%;
  padding:0 30px;
}

.timeline li{
    /*線の起点とするためrelativeを設定*/
    position: relative;
  list-style: none;
  padding:0 0 20px 0;
}

.timeline dl{
  margin:0 0 20px 3em;
}

.timeline dd{
    margin: 20px 0 0 40px;
}

.timeline dd strong{
  display: block;
  padding:0;
  font-size: 24px;
}

/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
  position: absolute;
  left:0.2em;
  top:0;
  width:2px;/*線の太さ*/
  height:0;/*はじめは高さを0に*/
  background: #ccc;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:10px;
  height: 10px;
  background:#666;
  border-radius: 50%;
}

/*========= 流れるテキスト ===============*/

/*全共通*/

.slide-in {
  overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
  display: inline-block;

}

/*左右のアニメーション*/
.leftAnime{
    opacity: 0;/*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name:slideTextX100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextX100 {
  from {
  transform: translateX(-100%); /*要素を左の枠外に移動*/
        opacity: 0;
  }

  to {
  transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
  animation-name:slideTextX-100;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
    opacity: 0;
}


@keyframes slideTextX-100 {
  from {
  transform: translateX(100%);/*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
  transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}
#chronology_item{
    display: flex;
    justify-content: center;
}
#page-link{
  display: flex;
  justify-content: center;
  padding: 20px;
}

#page-link li{
  list-style: none;
}

#page-link li a{
  color: #333;
  padding:0 20px;
  text-decoration: none;
}

#page-link li a::before{
  content:'▼';
  font-size:0.8rem;
  padding:0 10px 0 0;
  color: #ccc;
}
.kohun-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879693/02kohun_zci8wc.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.asuka-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879694/02Asuka_yuukg5.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.nara-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879693/02Nara_yvipds.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.heian-bg{
    position: relative;
    background:url(../img/02Heian.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.kamakura-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879694/02Kamakura_ucgg76.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.nanbokucho-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879693/02Nanbokucho_aax2ka.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.muromachi-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879696/02Muromachi_jesjtf.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.aduchimomoyama-bg{
    position: relative;
    background:url(../img/02Aduchimomoyama.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.edo-bg{
    position: relative;
    background:url(../img/02Edo.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.meiji-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879695/02Meiji_icahog.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.taisyo-bg{
    position: relative;
    background:url(../img/02Taisyo.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.syowa-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879693/02Syowa_w3aalx.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.heisei-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879693/02Heisei_gxxsyt.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.reiwa-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669879697/02Reiwa_pf0gls.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.economy-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669986937/04economy_swu3a5.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.disaster-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669986937/04disaster_sua5iy.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.accident-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669986938/04accident_hx6msh.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.politics-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669986938/04politics_evzyky.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.war-bg{
    position: relative;
    background:url(https://res.cloudinary.com/dgmlrddyd/image/upload/v1669986938/04war_fewpct.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.culture-bg{
    position: relative;
    background:url(../img/04culture.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
/*=========================================================*/
/*ギャラリー===============================================*/
/*=========================================================*/
.sort-btn{
  background: #ffffff;
  padding: 20px;
  margin:50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sort-btn dt{
  font-weight: bold;
  margin:0 0 10px 0;
}

.sort-btn dd{
  margin:0 0 10px 0;
}

.sort-btn ul{
  display: flex;
  flex-wrap: wrap;
}

.sort-btn li{
  margin:0 10px;
}

.sort-btn ul li{
  position: relative;
  cursor: pointer;
  padding:0 0 0 30px;
  margin:0 10px 0 0;
}

/*チェックマークの設定*/
.sort-btn ul li::before{
  content:'';
  position: absolute;
  left:0;
  width:20px;
  height:20px;
  border:2px solid #ccc;
}

.sort-btn ul li.active::after{/*現在地＝activeというクラス名がついたらチェックマークを出現*/
  content:'';
  position: absolute;
  left:5px; 
  top:0;
    /*チェックマークの色や形*/
  border-left:2px solid #333;
  border-bottom:2px solid #333;
  width:16px;
  height:9px;
  transform:rotate(-45deg);
}

/*=========================================================*/
/*写真投稿===============================================*/
/*=========================================================*/
#picture_create_area {
    padding: 0 230px 230px 230px;
}
#picture_create dl {
    background: #26304c;
    border: 1px solid #ddd;
    border-top: 0;
}
#picture_create dl dt,
#picture_create dl dd {
    padding: 10px;
    border-top: 1px solid #ddd;
}
#picture_create dl dt {
    width: 13em;
    float: left;
    clear: both;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
#picture_create dl dd {
    background-color: #fff;
    border-left: 1px solid #ddd;
    margin-left: 13em;
}
#picture_create .title {
    width: 15em;
}
#picture_create .body {
    width: 36em;
    height: 8em;
}
#picture_create #genre,
#picture_create #period {
    margin: 0;
}
#picture_create .button_area {
    text-align: center;
}
#picture_create #submit_button,
#picture_create #back_button {
    background-color: #26304c;
    border: 1px solid #26304c;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.1s linear;
}
#picture_create #submit_button {
    margin-left: 40px;
    margin-top: 40px;
}
#picture_create #submit_button:hover {
    background-color: #505978;
}
#picture_create #back_button:hover {
    background-color: #505978;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #E8E8E8;
    }
    a{
	    color: #E8E8E8;
    }
    #wrapper-area{
        background-color: #292a2d;
    }
    #page-link{
        background-color: #292a2d;
    }
    #page-link li a{
        color: #fff;
        }
    #page-link li a::before{
        color: #fff;
    }
}

@media screen and (max-width:1020px) {
#lead h2{
    line-height: 1.8;
    padding: 0 0 50px 0;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 0.4em;
}
    
#lead .lead-desc p{
    line-height:2.5;
}

#wrapper-area h1{
    line-height: 1.8;
    padding: 0 0 50px 0;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 0.4em;
}
    
#wrapper-area .wrapper-content dl{
    line-height:2.5;
}
    
}

@media screen and (max-width:990px) {

#header{
    position: relative;
    width:100%;
    height: auto;
    padding: 0;
}
  
#content-area{
    padding:0;
}

#header{
    position:absolute;
    z-index: 2;
    background: none;
    color: #fff;
    height: 90vh;
    align-items: center;
}
    
#header-area {
    display: block;
	position: fixed;
    top: 10px;
    left: 10px;
    width: 150px;
    height:55px;
    padding: 0;
    border: none;
}

#header h1{
    color: #fff;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#header h1 span{
    font-size: 1.5rem;
    padding: 0;
}
    
#header p{
    background:#26304c;
    padding: 20px 18px 20px 0;
    width: 119px;
    height: 145px;
}

#g-nav ul{
    display: block;
    text-align: center;
}
#g-nav ul li a{
    padding: 15px;
    color: #fff;
}
#g-nav ul li.current a::before,
#g-nav ul li a:hover::before{
    animation: none;
    left:0;
    top:48%;
    width:10px;
    height: 1px;
    background: #fff;
    opacity: 1;
}

#reserve h2{
     font-size: 1rem;   
}
#reserve .tel{
    font-size: 1.5rem;
}

#japanese_chronology{
    width: 100%;
    padding: 0;
}

}

@media screen and (max-width:920px) {

#lead{
    height:auto;
    padding:100px 0;
}
    
#lead .lead-heading{
    width:100%;
    text-align: center;
}

    
#lead .lead-desc{
    width: 100%;
    padding: 0 30px;
    display: block;
    height: auto;
}
    
#lead .lead-desc p{
    width:auto;
    margin: 0 0 30px 0;
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}
 
#lead .btnarrow5{
    display: block;
    padding: 8px 30px;
    width:250px;
    margin: 0 auto;
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}

#lead .btnarrow5::after{
    top: 152%;
    right: 52%;
}

#wrapper-area{
    height:auto;
    padding:100px 0;
    background-color: #26304c;
    color: #fff4d1;
}
    
#wrapper-area .wrapper-heading{
    width:100%;
    padding: 0 30px;
    display: block;
    height: auto;
}

    
#wrapper-area .wrapper-content{
    width: 100%;
    padding: 0 30px;
    display: block;
    height: auto;
}
    
#wrapper-area .wrapper-content dl{
    width:auto;
    margin: 0 0 30px 0;
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}
 
#wrapper-area .btnarrow5{
    display: block;
    padding: 8px 30px;
    width:250px;
    margin: 0 auto;
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}

#wrapper-area .btnarrow5::after{
    top: 152%;
    right: 52%;
}
    
}

@media screen and (min-width:769px) {
#footer #page-top a:hover span::before,
#footer #page-top a:hover span::after{
     background:#fff;   
}
}

@media screen and (max-width:768px) {
#period .period-bg{
    background-attachment: inherit;
}
#genre .genre-bg{
    background-attachment: inherit;
}
#gallery .gallery-bg{
    background-attachment: inherit;
}
#citation .citation-bg{
    background-attachment: inherit;
}
#economy .economy-bg{
    background-attachment: inherit;
}
#disaster .disaster-bg{
    background-attachment: inherit;
}
#accident .accident-bg{
    background-attachment: inherit;
}
#politics .politics-bg{
    background-attachment: inherit;
}
#war .war-bg{
    background-attachment: inherit;
}
#culture .culture-bg{
    background-attachment: inherit;
}
#kohun .kohun-bg{
    background-attachment: inherit;
}
#asuka .asuka-bg{
    background-attachment: inherit;
}
#nara .nara-bg{
    background-attachment: inherit;
}
#heian .heian-bg{
    background-attachment: inherit;
}
#kamakura .kamakura-bg{
    background-attachment: inherit;
}
#nanbokucho .nanbokucho-bg{
    background-attachment: inherit;
}
#muromachi .muromachi-bg{
    background-attachment: inherit;
}
#aduchimomoyama .aduchimomoyama-bg{
    background-attachment: inherit;
}
#edo .edo-bg{
    background-attachment: inherit;
}
#meiji .meiji-bg{
    background-attachment: inherit;
}
#taisyo .taisyo-bg{
    background-attachment: inherit;
}
#syowa .syowa-bg{
    background-attachment: inherit;
}
#heisei .heisei-bg{
    background-attachment: inherit;
}
#reiwa .reiwa-bg{
    background-attachment: inherit;
}
#footer .footer-info{
    width: 100%;
    text-align: center;
}
#footer .footer-logo{
    margin: 0;
}
    
#footer .footer-link{
    width:100%;
    display: block; 
}
    
#footer .footer-link ul{
    text-align: center;
    margin: 50px 0;
    line-height: 3;
}
    
#footer small{
     display: block;
    text-align: center;
}

}

@media screen and (max-width:560px) {
    
#period .period-img,
#period .period-content{
    width:100%;
    margin: 0 0 50px 0;
}

#genre .genre-img,
#genre .genre-content{
    width:100%;
    margin: 0 0 50px 0;
}

}

@media screen and (max-width:540px) {

#reserve p br{
     display:block;   
}
    
}